svg {
  opacity: 0.6;
  height: 100%;
  vertical-align: middle;
}
input {
  font-size: 16px;
  padding: 5px;
  margin-right: 5px;
  width: calc(100% - 12px);
  border: 0;
  background-color: inherit;
  outline: none;
}
